*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
::selection{
    background-color: rgb(0,230,0);
}

body{
    background-color: #F1E9E7;
    font-family: "Roboto Slab", serif;
    font-family: Copernicus,serif;
    font-style: italic;
    color: black;
}
/* NAV */
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #F1E9E7;
}

#headerImg{
    height: 55px;
}
.bigUl{
    display: flex;
}
.bigUl li{
    list-style: none;
    margin-left: 30px;
    align-items: center;
}
.bigUl li a{
        text-decoration: none;
        color: black;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-size: 120%;
}
.dropdown-toggle{
    display: block;
    
}
.dropdown-toggle:hover{
    color: blue;
    
}
.dropdown-menu{
    top: 38px !important;
    transform: translate3d(0px, 31.2px, 0px);
    background-color: #F1E9E7;
    border-radius: 0;
    border: 1px solid black;
    padding: 30px;
}
.dropdown-menu:hover.navRighta{
    color: aqua;
}
.dropdown-menu li{
    margin-left: auto;
}
.navRight {
    background-color: black; 
    width: 150px
    ;height: 40px
    ;margin-left: auto
    ;margin-top: auto;
    margin-bottom: auto;
    
    text-align: center;
    text-decoration: none;
}
.navRighta{
    color: white;
    text-decoration: none;
    font-size: 150%;
    margin-top: 10px;
}
.navRight:hover{
    background-color: blue;
}

.hamburger{
    transition: .3s;
    cursor: pointer;
    
}


.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}



#tinyScreen{
    display: none;
}
/* NAV */

.figure{
    display: flex;
    justify-content: center;
}
.figure img{
    border-top: 1px solid black;
    width: 80%;
    padding: 2rem 3rem;
    
}
.carousel{
    background-color: #F1E9E7;
    height: 300px;
}
.carousel-control-prev{
    cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDY1IDEzIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzAwNThmZSIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSI+PHBhdGggZD0iTTcgMTNMMC41IDYuNSIvPjxwYXRoIGQ9Ik03IDdMMC41IDAuNSIgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLTEgMCA3KSIvPjxwYXRoIGQ9Ik02NC42NzMgNi41TDEuMzI3IDYuNSIvPjwvZz48L3N2Zz4=),auto !important;
}
.carousel-control-next{
    cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDY1IDEzIj48ZyBmaWxsPSJub25lIiBmaWxsUnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjMDA1OGZlIiBzdHJva2VMaW5lY2FwPSJzcXVhcmUiPjxwYXRoIGQ9Ik03IDEzTDAuNSA2LjUiIHRyYW5zZm9ybT0ibWF0cml4KC0xIDAgMCAxIDY1IDApIi8+PHBhdGggZD0iTTcgN0wwLjUgMC41IiB0cmFuc2Zvcm09Im1hdHJpeCgtMSAwIDAgMSA2NSAwKSBtYXRyaXgoMSAwIDAgLTEgMCA3KSIvPjxwYXRoIGQ9Ik02NC42NzMgNi41TDEuMzI3IDYuNSIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgNjUgMCkiLz48L2c+PC9zdmc+),auto !important;
}

.carousel-item{
    padding-right: 3rem;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    
}

.storyA:hover p{
    color: blue !important;
}
.storyA:hover i{
    
    left: 10px !important;
    color: blue !important;
    transition: left 0.3s ease;
    }
    .storyA i{
    
    left: 0;
    position: relative;
    transition: left 0.3s ease;
    color: black !important;
    font-size: 500%;
    font-weight: 100 !important;
    opacity: .7;
    margin-left: 30px   
    }
.tuneIn{
    transition: .5s ease;
}
.tuneIn:hover{
background-color: #555 !important;
transition: .5s ease;
}

.card{
    background-color: #F1E9E7;
    border-radius: 0;
    border: 1px solid black;
    transition: .3s ease;
}
.card:hover{
    border: 1px solid blue;
    transition: .3s ease;
}
.card:hover .card-body{
    color: blue !important;
    transition: .3s ease;
}
.card:hover .card-title{
    color: blue !important;
    transition: .3s ease;
}

/* FOOTER */
.footerPublisher button{
    background-color: #F1E9E7;
    border: none;
    text-decoration: none;
    color: black;
}
.footerPublisher button p{
    transition: .3s;
}
.footerPublisher button:hover p{
    color: blue;
    transition: .3s;
}

.form input{
    border: none;
    border-bottom: 1px solid black;
    background-color: #F1E9E7;
    font-size: 150%;
    color: #BCB6B4;
    display: block;
}


.footerSubmit {
    background-color: black !important; 
    width: 150px !important;
    height: 40px !important;
    margin-left: auto !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    text-align: center !important;
    color: rgb(197, 197, 197) !important;
    text-decoration: none;
    font-size: 150%;
    margin-top: 10px !important;
    border: none;
    width: 60% !important;
    transition: .3s !important;
}

.footerSubmit:hover{
    background-color: blue  !important;
    transition: .3s;
}

/* ICONS */
.material-symbols-outlined{
    margin-right: 5px;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 50%;
}
/* ICONS */
.footerInfo{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.footerInfoCol a{
    color: black;
    text-decoration: none;
}
.footerInfoCol a:hover{
    color: blue;
    transition: .3s;
}
.footerInfoCol li{
    list-style: none;
}
.bi-threads{
    cursor: default;
    font-size: 150% !important;
    margin-right: 20px;
    color: grey;
}

.footerPlease input{
    display: inline-block ;
}
.footerInterested input{
    display: inline-block ;   
}
select{
    border: none;
    background-color: #F1E9E7;
    font-size: 150%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select:focus{
    outline: none;
}
option{
    display: block;
    
}
.footerAdv{
    display: none;
}
.footerAdv span a{
    color: black;
}
.footerPub span a{
    color: black;
}
.publisher{
    color: blue;
}


@media screen and (max-width:1200px){
    /* NAV */
    #rowBig{
        display: none;
    }

    #tinyScreen{
        display: flex;
    }
    #hamburgerDiv{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    

    .hamburger.active .bar:nth-child(2){
        transform: translateY(0px) rotate(-45deg) ;
    }
    .hamburger.active .bar:nth-child(1){
        
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        
        transform: translateY(-8px) rotate(45deg);
    }
    .bigUltiny{
        display: none;
        
    }
    .bigUltiny.active{
        display: flex !important;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        max-height: 300px;
        transition: max-height 0.3s ease-in-out;
    }
    .bigUltiny li{
        list-style: none;
        margin-left: 30px;
        align-items: center;
    }
    .bigUltiny li a{
            text-decoration: none;
            color: black;
            font-family: "Roboto Slab", serif;
            font-optical-sizing: auto;
            font-weight: 100;
            font-style: normal;
            font-size: 120%;
    }
    
    .border-div{
        display: none;
    }
    .border-divtiny{
        display: block !important;
    }
    .dropdown-menu{
        top: 30px !important;
        border-top: none;
        padding: 0;
    }
    .br{
        display: none;
    }
    
    #navContainer{
        width: 100% !important;
    }
    /*NAV */
    .storyA{
        margin-top: 100px;
    }
    .power{
        font-size: 400% !important;
    }
    .powerLast{
        font-size: 50% !important;
        
    }
}

@media screen and (max-width:767px){
    /* NAV */
    .bigUltiny.active{
        display: block !important;
    }
    .dropdown-menu{
        border-top: 1px solid black;
    }
    /* NAV */
    .s1{
        font-size: 400% !important;
    }
    .fig{
        border-bottom: none !important;
    }
    .carousel-item p{
        font-size: 150% !important;
    }
    .carouselPhotoDivInfo{
        font-size: 100% !important;
    }
    .storyA{
        margin-top: 150px;
    }
    #lets{
        font-size: 400% !important;
    }
    .footerPublisher{
        font-size: 200% !important;
    }
}
